/* to do: no matter how specific I target something !important is still required...except for typography; why? */

body {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* Typography */
h1 {
  font-weight: 300;
  font-style: normal;
  font-size: 2.625em;
  color: #0099ff;
  font-style: normal;
  letter-spacing: 1px;
}

h2 {
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #0099ff;
  font-size: 1rem;
  letter-spacing: 1px;
}

h3 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.125em;
  line-height: 2.063em;
  color: #999cab;
  letter-spacing: 1px;
}

h4 {
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: .75em;
  line-height: 1em;
  color: #999cab;
  letter-spacing: 1px;
}

/* Links */

/* Targets all links */

/* to do: why is color not working */
a:hover {
  color: #33ccff !important;
  text-decoration: none !important;
}

/* Targets links in lists and copy */
ul li a,
ol li a,
section p a,
section.normal a {
  color: #0099ff !important;
}

ul li a:hover,
ol li a:hover,
section p a:hover,
section.normal a:hover {
  color: #33ccff !important;
}

/* Sidebar */
ul.summary {
  background: #F5FCFF !important;
}

.book .book-summary ul.summary li.divider {
  background: #F5FCFF !important;
}

ul.summary a.gitbook-link {
  color: #cccdd5 !important;
  margin-top: 20px;
}

/* Top left link */
.book .book-summary ul.summary li a.custom-link {
  margin: 20px 10px 10px 10px;
  background: url("../assets/logo.svg") no-repeat;
  background-position: left center;
  background-size: 200px;
  text-indent: -999px;
}

/* Sub chapter titles */
ul.summary ul li a {
  color: #999cab !important;
  font-weight: 200 !important;
}

ul.summary ul li a:hover {
  color: #262a48 !important;
}

/* main chapter title */
ul.summary a {
  color: #999cab !important;
  font-weight: 700 !important;
}

ul.summary a:hover {
  color: #262a48 !important;
}

/* Lists */

.book .book-summary {
  border-right: none !important;
}

/* Change page */
.book .book-body .navigation.navigation-prev:hover,
.book .book-body .navigation.navigation-next:hover {
  background: #f7f7f7;
}

/* how do I say all the sup (in blockquotes) after #endnotes only? */
#endnotes ~ blockquote sup {
  top: 0;
}
